body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.schedule {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #99ccff;
    padding: 15px;
    text-align: center;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

.empty {
    background-color: #e6e6e6;
}

div {
    margin-bottom: 5px;
}

div:last-child {
    margin-bottom: 0;
}

/* Кольори для типів занять */
.lk {
    background-color: #fff7b3; /* Жовтий для ЛК */
}

.lb {
    background-color: #b3d1ff; /* Синій для ЛБ */
}

.pz {
    background-color: #ccffcc; /* Салатовий для ПЗ */
}

.sm {
    background-color: #ffb3e6; /* Рожевий для СМ */
}
